{% extends 'mantenimiento/layout.html' %}

{% block content %}

<header class="row justify-content-center">
    <div class="col-10 col-lg-8">
        <h1 class="h1 text-center">CHECKLIST MANTENIMIENTO</h1>
        <p class="text-center">Aplicación para generar el checklist al hacer un mantenimiento</p>
        <h5 class="h5">Características:</h5>
        <ul>
            <li>El checklist se va completando por secciones: Usuario -> Equipo -> Software -> Drivers -> Revisión</li>
            <li>Tenga presente que hasta que no complete una sección, no puede continuar a la siguiente</li>
            <li>Cuando pasa de sección correctamente, se guarda la información, así puede continuar después, en caso de
                necesitarlo</li>
            <li>En la sección Equipo y Revisión le va a pedir las fotos de entrada y salida respectivamente</li>
            <li>Son 6 fotos de entrada, 6 de salida, obligatorias. Puede cargarlas individualmente o todas a la vez</li>
        </ul>
    </div>
</header>

<div class="row justify-content-center">
    <div class="col-10 col-lg-8 mt-3">
        <h4 class="h4 text-center">Buscador</h4>
        <form action="{% url 'home' %}">
            <input class="form-control" name="q" value="{{ request.GET.q }}"
                placeholder="Buscar por serial, nombre o ciudad">
        </form>
        <section class="mt-4" id="results">
            {% if cont %}
                <div class="alert alert-success" role="alert">
                    Se importaron {{cont}} equipos a la Base de Datos
                </div>
            {% endif %}
            {% if err %}
                <div class="alert alert-danger" role="alert">
                    {{err}} equipos ya estaban en la Base de Datos
                </div>
            {% endif %}
            <div class="results">
                {% for equipo in page.object_list %}
                    <div class="card my-2 bg-body-secondary">
                        <a class="text-decoration-none text-dark" href="{% url 'usuario' equipo.id %}">
                            <div class="card-body">
                                <h5 class="h5 card-title">{{equipo.serial}}</h5>
                                <h6 class="h6 card-subtitle mb-2 text-body-secondary">{{equipo.usuario.nombre}}</h6>
                                <p class="card-text">{{equipo.usuario.ciudad}}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <nav class="mt-2 mb-5" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page %}
                        {% if page.number != 1 %}
                            <li class="page-item">
                                <a class="page-link" href="?q={{ request.GET.q }}&page=1">
                                    &laquo; Primera
                                </a>
                            </li>
                            {% endif %}
                        {% if page.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?q={{ request.GET.q }}&page={{ page.previous_page_number }}">
                                    {{ page.previous_page_number }}
                                </a>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <span class="page-link">
                                {{ page.number }}
                            </span>
                        </li>
                        {% if page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?q={{ request.GET.q }}&page={{ page.next_page_number }}">
                                    {{ page.next_page_number }}
                                </a>
                            </li>
                        {% endif %}
                        {% if page.number != page.paginator.num_pages %}
                            <li class="page-item">
                                <a class="page-link" href="?q={{ request.GET.q }}&page={{ page.paginator.num_pages }}">
                                    &raquo; Ultima
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
        </section>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10 col-lg-8 text-center">
        <h6>¿No encuentras nada? Puedes importar tu Base de Datos desde un archivo Excel</h6>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-control" type="file" name="excel_file" required>
            <button class="btn btn-success my-3" type="submit">Importar</button>
        </form>
    </div>
</div>

{% endblock %}